<!-- Example usage:
<button data-controller="settings-dialog" data-action="click->settings-dialog#open">
  Open
</button>

template "authflowv2/__settings_dialog.html" (dict
  "Ctx" .
  "Title" "Dialog Title"
  "Description" "Dialog description"
  "FormContent" (include "template_you_defined.html")
  "Buttons": (list
    (dict
      "Type" "Cancel"
      "Label" "Cancel"
    )
  )
)
-->

{{ define "authflowv2/__settings_dialog.html" }}
  {{ $settingsDialogID := "settings-dialog" }}

  {{ template "authflowv2/__dialog.html"
    (dict
      "Ctx" $.Ctx
      "ClassName" "settings-dialog"
      "DialogID" $settingsDialogID
      "DialogContent" (include "authflowv2/__settings_dialog_content.html"
        (dict
          "Ctx" $.Ctx
          "Title" $.Title
          "Description" $.Description
          "FormContent" $.FormContent
          "Buttons" $.Buttons
          "DialogID" $settingsDialogID
        )
      )
    )
  }}
{{ end }}

{{ define "authflowv2/__settings_dialog_content.html" }}
<form
  method="post"
  data-controller="turbo-form"
  data-action="submit->turbo-form#submitForm"
>
  {{ $.Ctx.CSRFField }}
  <div class="flex flex-col gap-y-8 flex-1-0-auto">
    <header class="dialog-title-description">
      <h1 class="dialog-title">
        {{ $.Title }}
      </h1>
      <h2 class="dialog-description">
        {{ $.Description }}
      </h2>
  </header>
    <span class="flex flex-col gap-y-4">
      {{ $.FormContent }}
      {{ range $.Buttons }}
        <button
          {{ if (eq .Type "Cancel") }}
            type="button"
            class="secondary-btn"
            data-dialog-id-param="{{ $.DialogID }}"
            data-action="click->dialog#close"
          {{ else if (eq .Type "Destructive") }}
            type="submit"
            class="remove-btn"
            name="x_action"
          {{ else }}
            type="submit"
          {{ end }}
          value="{{ .Value }}"
          {{ if .Event }}
            data-authgear-event="{{ .Event }}"
          {{ end }}
        >
          {{ .Label }}
        </button>
      {{ end }}
    </span>
  </div>
</form>
{{ end }}
